<ion-content class="background">


  <br />

  <div class="cont">
    <div class="signin">SIGN IN</div>
    <div class="char">|</div>
    <div class="signup">SIGN UP</div>
  </div>
  <div class="container">

    

    <div class="flex-container">
      <div class="words">
      <p>Tell us about yourself.</p>
    </div>

      <div class="email">
        <ion-item>
        <ion-input type="text" value="surfer123@gmail.com">
          <ion-icon name="mail"></ion-icon>
        </ion-input>
      </ion-item>
      </div>


      <div>
        <ion-item>
        <ion-input placeholder="Username">
          <ion-icon name="person"></ion-icon>
        </ion-input>
      </ion-item>
      </div>


      <div>
        <ion-item>
        <ion-input type="password" placeholder="Password">
          <ion-icon name="lock-closed"></ion-icon>
        </ion-input>
      </ion-item>
      </div>

      <div>
        <ion-item>
        <ion-input type="password" placeholder="Re-enter Password">
          <ion-icon name="lock-closed"></ion-icon>
        </ion-input>
      </ion-item>
      </div>

       <div class="button">
        <ion-button shape="round">SIGN UP</ion-button>
      </div>
    </div>

  </div>

  
</ion-content>