.background{
  --background:url(../../assets/icon/waves1.jfif) no-repeat
}

.content{
  display: flex;
  //position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // margin-top: 300px;
  // margin-left: 60px;
  // text-align: center;
  // font-family: sans-serif;
  // font-size: 10px; 
  // color:white;
  // text-transform: initial;
}

.header{
  display: flex;
  flex-direction: column;
  font-family: Raleway Dots;
  font-size: 18px;
  margin-bottom: 50px;
  color:white;
}

.button{
  display: flex;
  flex-direction: column;
}

.btn-1{
  display: flex;
  flex-direction: column;
  //margin-top: 10px;
  font-size: 12px;
  border-radius:50px;
  width: 150px; 
  // color: #008000;
  // background:#FFFF00;
  // background:#FFFF00;
  // color: #008000;
  // font-size: 12px;

}
.btn-2{
  display: flex;
  flex-direction: column;
  //margin-top: 10px;
  font-size: 12px;
  border-radius:50px;
  width: 150px; 
  margin-top: -20px;
  // color: #008000;
  // background:#FFFF00;
  // background:#FFFF00;
  // color: #008000;
  // font-size: 12px;

}

ion-button.button{
    --color: #008000;
    --background:#F5FF7D;
     
//     display:flex;
     //flex-direction: column;
     
//     text-transform: initial;
     
    justify-content: space-around;
  // width: 250px;
    margin-left: 10px;
  }
